$toast-min-height: 40px;
$toast-border-radius: 4px;
$toast-bg: rgba(0, 0, 0, 0.75);
$tab-height: 40px;
$red: #e65f58;
$height: 32px;
$grey: #ddd;
$font-size: 14px;
$error-red: #f00e02;
$disabled-color: #aaa;
$color: #333;
$button-height: 28px;
$button-bg: white;
$button-active-bg: #eee;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$border-radius: 4px;
$border-color: #999;
// $border-color: #ebeef5;
$border-color-hover: #666;
$blue: #409eff;
$animation-duration: 500ms;
