$toast-min-height: 40px;
$toast-border-radius: 4px;
$toast-bg: rgba(0, 0, 0, 0.75);
$tab-height: 40px;
$red: #e65f58;
$height: 32px;
$grey: #ddd;
$font-size: 14px;
$error-red: #f00e02;
$disabled-color: #aaa;
$color: #333;
$button-height: 36px;
$button-bg: white;
$button-active-bg: #eee;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$border-radius: 4px;
$border-color: #bfc2c9;
$border-color-hover: rgb(148, 147, 147);
$blue: #409eff;
$animation-duration: 500ms;

$primary-color: #408cff;
$success-color: #52b442;
$warning-color: #EBA34A;
$danger-color: #ec5456;
